@using CodeInject.PickupFilters;
@using CodeInject.WebServ.Models.PickUpFilter;
@using System.Collections;
@using Newtonsoft.Json;
@model SimpleFilterModel;

@{
    Hashtable ItemTypeNames = new Hashtable();


    ItemTypeNames.Add(0x08, "Weapon");
    ItemTypeNames.Add(0x09, "Shield");
    ItemTypeNames.Add(0xA, "Usable Items");
    ItemTypeNames.Add(0x02, "Hat");
    ItemTypeNames.Add(0x03, "Chest Armor");
    ItemTypeNames.Add(0x04, "Glove");
    ItemTypeNames.Add(0x05, "Shoes");
    ItemTypeNames.Add(0x0C, "Material");

    string d = Model.Filter.ToString();

    dynamic selectedList = JsonConvert.DeserializeObject<dynamic>(d);
    
}

@foreach (DictionaryEntry element in ItemTypeNames)
{
    if (selectedList.Contains((CodeInject.ItemType)element.Key))
    {
        <b><p>@element.Key</p></b>
    }else
    {
        <p>@element.Key</p>
    }
}
